<section class="todoapp">
  <header class="header">
    <h1>{{label}}</h1>
    <form (submit)="appendItem(newTextInput.value, newDateInput.value); newTextInput.value=''; newDateInput.value=''">
      <input  #newTextInput
              name        = "newTextInput"
              class       = "new-todo"
              placeholder = "Que faire?"
              autofocus />
      <input  #newDateInput
              type        = "date"
              name        = "newDateInput"
              class       = "new-todo" />
    </form>
  </header>

  <section class="main">
    <input  *ngIf   = "todoList.items.length != 0"
            class   = "toggle-all"
            type    = "checkbox"
            name    = "toggleAll"
            (click) = "completedAll()"
    />
    <ul class="todo-list">
      <li *ngFor="let item of filterItems()">
        <app-todo-item [data]="item"></app-todo-item>
      </li>
    </ul>
  </section>
  <section *ngIf="todoList.items.length != 0" class="footer">
    <span class="todo-count"><strong>{{nbUncheckedItems}}</strong> restantes </span>
    <ul class="filters">
      <li>
        <a class="filterAll" (click)="filter = 'all'">Tous</a>
      </li>
      <li>
        <a class="filterActives" (click)="filter = 'actives'">Actifs</a>
      </li>
      <li>
        <a class="filterCompleted" (click)="filter = 'completed'">Complétés</a>
      </li>
    </ul>
    <button *ngIf="todoList.items.length != 0" class="clear" (click)="clearAll()">Reset</button>
    <button *ngIf="hasCompleted()" class="clear" (click)="clearCompleted()">Supprimer cochées</button>
  </section>
</section>
<footer class="info">
  <p *ngIf="todoList.items.length != 0; else noItem">Double-cliquez pour éditer un item</p>
  <ng-template #noItem><p>Votre liste est vide !</p></ng-template>
</footer>


<!--V5 debug : suppression item-->
<!--<h2>Debug V5</h2>
<ul>
  <li *ngFor="let item of items">
    <input type="checkbox" [ngModel]="item.isDone" (ngModelChange)="itemDone(item, $event)"/>
    <label>{{item.label}}</label>
    <form (submit)="itemLabel(item, newLab.value)">
      <input type="text" name="label" [ngModel]="item.label" #newLab/>
    </form>
    <button (click)="removeItem(item)">Remove</button>
  </li>
</ul>-->
