<ul class="navbar">
    <li *ngFor="let tab of tabs; index as i" class="todo-tab">
      <app-todo-tab [name]="label(i)"></app-todo-tab>
      <button class="delete" (click)="removeTab(i)"></button>
    </li>
    <li *ngIf="editingTab">
      <form (submit)="addTab(newTab.value); newTab.value=''">
        <input  #newTab
                name        = "newTab"
                class       = "new-tab"
                placeholder = "Thème?"
                autofocus />
      </form>
    </li>
    <li id="newTab"><a (click)="newTab()">Ajouter +</a></li>
</ul>


<app-todo-list *ngIf="tabs.length !=0; else noTab"></app-todo-list>

<ng-template #noTab>
  <p>Commencer ajouter un thème pour créer votre "todolist"</p>
</ng-template>
