<div class="view">
  <input 	class			= "toggle"
          type			= "checkbox"
          name			= "fait"
          [ngModel] = "data.isDone"
          (ngModelChange) = "itemDone($event)"

  />
  <label 	class="texte" (click)="itemTest($event)">{{label}}</label>
  <button class="destroy" (click)="removeItem()"></button>
</div>
<form (submit)="itemLabel(newTextInput.value)">
  <input  #newTextInput
          name    = "newTextInput"
          class   = "edit"
          [ngModel] = "data.label"/>
</form>
