<div *ngIf="this.editing == false; else edition"[ngClass]="(this.expired)?'view-expired':'view'">
  <input 	class			= "toggle"
          type			= "checkbox"
          name			= "fait"
          [ngModel] = "data.isDone"
          (ngModelChange) = "itemDone($event)"
  />
  <label	(dblclick)="itemEdition()">{{label}}</label>
  <label *ngIf="dateLimit != null"  class="date">{{dateLimit}}</label>
  <button class="destroy" (click)="removeItem()"></button>
</div>
<ng-template #edition>
  <form  (submit)="itemLabel(newTextInput.value)">
    <input  #newTextInput
            name    = "newTextInput"
            class   = "edit"
            type    = "text"
            [ngModel] = "data.label"/>
  </form>
</ng-template>
